<div class="container">
  <form class="text-center" action="/form" method="post">
    <h4 class="">Request a Catalog</h4>
    <input type="text" name="email" placeholder="Enter email">
    <button type="submit" class="">Submit</button>
  </form>
</div>